<!doctype html>
<html>

<head>
  <title>New Inventory Item</title>
          <link rel="stylesheet" href="/css/styles.css" />

</head>

    {{> header user}}
    <div class="reportEditor">
    <h1>Inventory Editor</h1>
    <form  class="contactus" id="contactus" method="POST" action="/inventory/Edit">

        {{#if inventory.itemName}}
            <h4>Editing inventory Name: {{inventory.itemName}}</h4><br><br>
        {{else}} <h3>No Item Found</h3> {{/if}}

        <label class="fixedlabel">Item Name</label>
        <input type="Text" name="itemN" value="{{inventory.itemName}}" /><br><br>
        
        <label class="fixedlabel">Item Quantity</label>
        <input type="number" name="itemQ" value="{{inventory.itemQty}}" /><br><br>
        
        <label class="fixedlabel">Warehouse</label>
        <input type="text" name="Warehouse" value="{{inventory.Warehouse}}" /><br><br>
                                                        
        &nbsp;&nbsp;<label class="fixedlabel"></label>
        <br><br><br><button id="loginButton" class="button1" type="submit" name="submit">Submit</button>
    </form>
  
        <form   id="contactus" method="POST" action="/inventory/Edit">

        {{#if inventory.itemName}}
            <h4>Deleting inventory Name: {{inventory.itemName}}</h4><br>
        {{else}} <h3>No Item Found</h3> {{/if}}


        
        <label class="fixedlabel">Comments</label>
        <input type="text" name="delComments" placeholder="Your Comments" /><br><br>
                                                        
        &nbsp;&nbsp;<label class="fixedlabel"></label>
        <br><!--button id="loginButton" class="button1" href="/inventoryDelete/{{itemName}}>Delete Item</button-->
        <a href="/inventoryDelete/{{inventory.itemName}}">Delete</a><br><br>
    </form>
</div>
    {{> footer user}}
</body>
</html>